@import 'Main.scss';

.Card {
  background: white;
  width: 75%;
  margin-left: 12.5%;
  margin-top: 5%;
  height: auto;
  border-radius: 7px;
  border: 1px solid darken(white, 7);
  padding: 1vw;
  box-shadow: 0px 10px 20px darken(white, 6);

  img {
    width: 30%;
    margin-top: 1.5vw;
    margin-left: 1vw;
    float: left;
    vertical-align: middle;
  }

  .Question {
    margin-top: 1vw;
    margin-left: 22vw;
    margin-bottom: 4vw;

    h3 {
      font-size: 2vw;
      font-weight: 300;
    }

    input {
      width: 70%;
      background: white;
      border: none;
      font-weight: 300;
      font-size: 2vw;
      outline: none;
      color: darken(white, 50);
      border-bottom: 2px solid darken(white, 20);
    }
  }

  button {
    font-weight: 500;
    font-size: 1.2vw;
    border: none;
    border-radius: 5vw;
    outline: none;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    cursor: pointer;
    color: white;
    background: #289AF5;
    box-shadow: 0px 3px 8px 0px rgba(186,198,204,0.5);
    transition: background .5s, box-shadow 1s;
    margin-left: 44vw;
    position: relative;
    bottom: 1vw;
  }

  button:hover {
    background: lighten(#289AF5, 4);
    box-shadow: 0px 5px 15px 0px rgba(167,180,186,0.5);
    transition: background .5s, box-shadow .8s;
  }
}

h1 {
  font-size: 3.5vw;
  font-weight: 300;
  line-height: 50%;
  margin-top: 4%;
}

h4 {
  font-size: 1.3vw;
  font-weight: 300;
}
